:root {
  --theme-blue-color: #1992d3;
}

body,
html {
  height: 100%;
  font-size: 16px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#container {
  height: 100%;
  display: grid;
  grid-template-rows: 200px 800px 50px;
  grid-template-columns: clamp(200px, 20%, 350px) 3fr;
}

aside {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  background-color: var(--theme-blue-color);
  color: #fff;
  font-weight: 700;
  font-style: normal;
  padding-left: 25px;
}

aside h1 {
  font-size: 1.6em;
  margin-top: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside li {
  margin-top: 25px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.list-icon {
  width: 20px;
  /* Adjust based on icon size */
  height: 20px;
  /* Adjust based on icon size */
  margin-right: 10px;
  /* Space between icon and text */
}

.list-icon-big {
  width: 40px;
  /* Adjust based on icon size */
  height: 40px;
}

ul#lower-nav {
  padding-top: 35px;
}

#search,
#main,
#profile-info {
  padding: 10px 40px;
}

header {
  background-color: #ffffff;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

#search {
  display: flex;
  align-items: center;
  gap: 25px;
  flex: 2;
}

img.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#search input {
  background-color: #e2e8f0;
  width: 60%;
  border-radius: 25px;
  border: none;
  height: 25px;
  flex: 1;
}

.left,
.right {
  flex: 1;
  display: flex;
  align-items: center;
}

.left {
  flex: 2;
}

.right {
  justify-content: right;
}

#profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px -4px #cccccc;
}

.profile {
  display: flex;
  align-items: center;
}

#profile-info img.icon {
  width: 50px;
  height: 50px;
  margin-right: 25px;
  background-color: #facc14;
  border-radius: 90px;
  padding: 10px;
}

.avatar {
  background-color: #facc14;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

button {
  background-color: var(--theme-blue-color);
  border: none;
  color: #fff;
  border-radius: 25px;
  padding: 10px 30px;
  font-weight: bold;
}

#main {
  background-color: #e2e8f0;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding: 25px;

  display: grid;
  grid-template-rows: 400px 400px;
  grid-template-columns: clamp(800px, 70%, 1200px) 3fr;
}

#main h4 {
  font-size: 1.2rem;
  margin: 10px 0 10px 0;
  font-weight: 500;
}

#main h5 {
  font-size: 1em;
  margin: 10px 0px;
}

#projects {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.project-container {
  height: 80vh;
  display: grid;
  grid-template-rows: repeat(auto-fit, 205px);
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 25px;
}

.project {
  background-color: #fff;
  border-left: 8px solid #f0b329;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px -4px #939393;
}

.project p {
  font-size: 0.9rem;
  color: #6a6969;
}

.project .icons {
  position: relative;
  display: flex;
  justify-content: right;
  gap: 10px;
}

.project img {
  width: 25px;
  height: 25px;
}

#announcements {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.messages {
  display: grid;
  height: 300px;
  grid-template-rows: repeat(auto-fit, 100px);
  grid-template-columns: 1;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px -4px #939393;
}

.message {
  background-color: #fff;
  border-bottom: 1px solid #e2e8f0;
  padding: 10px;
}

.message:last-child {
  border: none;
}

.message p {
  font-size: 0.8em;
  color: #6a6969;
}

#trending {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.users {
  display: grid;
  grid-template-rows: repeat(auto-fit, 60px);
  grid-template-columns: 1;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px -4px #939393;
}

.user {
  display: flex;
  border-bottom: 1px solid #e2e8f0;
  padding: 10px;
  align-items: center;
}

.user:last-child {
  border: none;
}

.user h5 {
  font-size: 0.8rem;
  margin-bottom: 0px;
}

.user p {
  font-size: 0.8rem;
  color: #6a6969;
  margin: 0px;
}

footer {
  background-color: #ffffff;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  text-align: right;
  padding-right: 20px;
}
