:root {
    --theme-blue-color: #1992D3;
}

body,
html {
    height: 100%;
    font-size: 12px;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 150px 800px 50px;
    grid-template-columns: clamp(200px, 25%, 350px) 3fr;
}

.sidebar {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    background-color: var(--theme-blue-color);
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 25px;
}

.sidebar h1 {
    font-size: 2.2em;
    margin-bottom: 50px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-top: 25px;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    /* Vertically center the icon and text */

}

.list-icon {
    width: 20px;
    /* Adjust based on icon size */
    height: 20px;
    /* Adjust based on icon size */
    margin-right: 10px;
    /* Space between icon and text */
}

.main-nav {}

.other-nav {}

.header {
    background-color: #FFFFFF;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.main {
    background-color: #E2E8F0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.footer {
    background-color: #FFFFFF;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}