:root {
  --theme-blue-color: #1992d3;
  --roboto-font: "Roboto", sans-serif;
}

body,
html {
  height: 100%;
  font-size: 16px;
  margin: 0;
  font-family: var(--roboto-font);
}

#container {
  height: 100%;
  display: grid;
  grid-template-rows: 180px 800px 50px;
  grid-template-columns: clamp(250px, 20%, 300px) 1fr;
}

aside#menu {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  background-color: var(--theme-blue-color);
  color: #fff;
  font-weight: 700;
  font-style: normal;
  padding-left: 25px;
}

aside h1 {
  font-size: 1.6em;
  margin-top: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside li {
  margin-top: 25px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.list-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.list-icon-big {
  width: 40px;
  height: 40px;
}

ul#lower-nav {
  padding-top: 35px;
}

#search,
#main,
#profile-info {
  padding: 10px 40px;
}

header {
  background-color: #ffffff;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

#search {
  display: flex;
  align-items: center;
  gap: 25px;
  flex: 1;
}

#search input {
  background-color: #e2e8f0;
  width: 60%;
  border-radius: 25px;
  border: none;
  height: 25px;
  flex: 1;
  padding-left: 10px;
}

.left,
.right {
  flex: 1;
  display: flex;
  align-items: center;
}

.left {
  flex: 2;
}

.right {
  justify-content: right;
}

img.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 90px;
}

#profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px -4px #cccccc;
}

#profile {
  display: flex;
  align-items: center;
}

#profile p {
  margin-bottom: 5px;
}

#profile h3 {
  margin-top: 0px;
}

#profile-info img.icon {
  width: 50px;
  height: 50px;
  margin-right: 25px;
  background-color: #facc14;

  padding: 10px;
}

.avatar {
  background-color: #facc14;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

button {
  background-color: var(--theme-blue-color);
  border: none;
  color: #fff;
  border-radius: 25px;
  padding: 10px 30px;
  font-weight: bold;
}

button:hover,
nav li,
.project-icon,
.icon {
  cursor: pointer;
}

#main {
  background-color: #e2e8f0;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 400px 400px;
  grid-template-columns: clamp(600px, 75%, 1200px) 1fr;
  column-gap: 30px;
  row-gap: 0px;
}

#main h4 {
  font-size: 1.2rem;
  margin: 10px 0 10px 0;
  font-weight: 500;
}

#main h5 {
  font-size: 1em;
  margin: 10px 0px;
}

#projects {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

#project-container {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 20px;
  row-gap: 44px;
}

.project {
  height: 180px;
  background-color: #fff;
  border-left: 8px solid #f0b329;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px -4px #939393;
}

.project p {
  font-size: 0.9rem;
  color: #6a6969;
}

.project .icons {
  position: relative;
  display: flex;
  justify-content: right;
  gap: 10px;
}

.project img {
  width: 25px;
  height: 25px;
}

#announcements {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.messages {
  display: grid;
  height: 300px;
  grid-template-rows: repeat(auto-fit, 100px);
  grid-template-columns: 1;
  padding: 15px 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px -4px #939393;
}

.message {
  background-color: #fff;
  border-bottom: 1px solid #e2e8f0;
  padding: 0px 5px 15px;
}

.message:last-child {
  border: none;
}

.message p {
  font-size: 0.8em;
  color: #6a6969;
}

#trending {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.users {
  display: grid;
  grid-template-rows: repeat(auto-fit, 60px);
  grid-template-columns: 1;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px -4px #939393;
}

.user {
  display: flex;
  border-bottom: 1px solid #e2e8f0;
  padding: 10px;
  align-items: center;
}

.user:last-child {
  border: none;
}

.user h5 {
  font-size: 0.8rem;
  margin-bottom: 0px;
}

.user p {
  font-size: 0.8rem;
  color: #6a6969;
  margin: 0px;
}

footer {
  background-color: #ffffff;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  text-align: right;
  padding-right: 20px;
}
